@model TradeMvc.Models.Department
@{
    ViewBag.Title = "DepartmentAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>New Department</h2>
<br />
@using (Html.BeginForm("DepartmentAdd", "Department", FormMethod.Post))
{
    @Html.LabelFor(x => x.DepartmentName)
    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
}